<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <springProperty scope="context" name="LOG_PATH" source="logging.file.path"/>
    <appender name="STD_OUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%-26(%d{yyyy-MM-dd HH:mm:ss SSS,Asia/Chongqing} [%X{traceId},%X{spanId}] [%thread]) %-5level
                %logger{32} - %msg%n
            </pattern>
        </encoder>
    </appender>
    <appender name="All_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/all.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/all.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%-26(%d{yyyy-MM-dd HH:mm:ss SSS,Asia/Chongqing} [%X{traceId},%X{spanId}] [%thread]) %-5level
                %logger{32} - %msg%n
            </pattern>
        </encoder>
    </appender>
    <appender name="ERROR_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/error.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/error.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>60</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%-26(%d{yyyy-MM-dd HH:mm:ss SSS,Asia/Chongqing} [%X{traceId},%X{spanId}] [%thread]) %-5level
                %logger{32} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- 使用spring的profile来控制不同的环境，应该使用那些appender的组合 -->
    <!-- 此处控制打印级别 -->
    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="STD_OUT"/>
            <appender-ref ref="ERROR_LOG"/>
        </root>
    </springProfile>

    <springProfile name="test">
        <root level="ERROR">
            <appender-ref ref="STD_OUT"/>
            <appender-ref ref="ERROR_LOG"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <root level="ERROR">
            <appender-ref ref="All_LOG"/>
            <appender-ref ref="ERROR_LOG"/>
        </root>
    </springProfile>

    <logger name="acblog" level="DEBUG"/>
    <logger name="sql" level="DEBUG"/>
</configuration>