<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="footer">
    <div class="footer am-u-sm-12">
        <div class="am-vertical-align" style="text-align: center">
            <hr>
            <div class="am-vertical-align-bottom">
                <div style="color: #009688; font-size: 15px; pxmargin-top: 5px;">
                    &copy; 2019-2020 强子 - <i class="am-icon-coffee" style="margin: 0 5px"></i>雷强 版权所有
                </div>
                <div id="footer" style="color: #009688;font-size: 15px;margin-top: 5px">
                    总访问量 <span id="totalVisitors"><strong class="visitCount"></strong></span> 次
                </div>
                <div class="webLogo" style="font-size: 15px;margin-top: 5px">
                    <a>
                        晋ICP备19005160号
                    </a>
                </div>
                <div class="webLogo" style="font-size: 15px;margin-top: 5px">
                    <img src="">
                    <a href=""
                       target="_blank">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>