<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>

<div th:fragment="left">
    <div class="qz-lift layui-hide-xs">
        <div>
            <i class="am-icon-quote-left"></i>
            <div class="qz-gonggao">
                <p>优秀的人都在努力</p>
                <p>一个井底之蛙</p>
                <p>有不努力的资本吗？</p>
                <p class="qz-name">--- lq</p>
                <p class="last">Welcome come my blog</p>
            </div>
            <i class="am-icon-quote-right"></i>
        </div>
        <div>
            <i class="am-icon-quote-left"></i>
            <div class="qz-gonggao qz-xinxi">
                <p>承受不了就释放</p>
                <p>接受不来的就拒绝</p>
                <p>不喜欢的人就远离</p>
                <p>热爱的事拼命追逐</p>
                <p>日子即便渺小</p>
                <p>也都祝你幸福快乐</p>
            </div>
            <i class="am-icon-quote-right"></i>
        </div>
    </div>
</div>

</body>
</html>