<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="lunbo">
    <div class="radioBroadcast" style="padding: 1px;">
        <i class="am-icon-volume-up messVO" style="margin-left: 5px;color: #fbd602;"></i>
        <div class="roll">
            <ul>
                <li>强子博客上线了,欢迎大家指正~~~</li>
                <li>该网站已开放有关博客的基本功能~~~</li>
                <li>只有忍受别人不能忍受的忍受~~~</li>
                <li>才能享受别人不能享受的享受~~~</li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>