<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>强子的博客~~后台管理界面</title>
    <link rel="alternate icon" type="image/png" href="/myPicture.jpg">
    <link rel="stylesheet" href="assets/css/amazeui.css" th:href="@{/assets/css/amazeui.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css/admin.css" th:href="@{/assets/css/admin.css}">
    <link rel="stylesheet" href="style/index.css" th:href="@{/style/index.css}"/>
    <link rel="stylesheet" href="style/user.css" th:href="@{/style/user.css}"/>
    <link rel="stylesheet" href="style/tig.css" th:href="@{/style/tig.css}"/>
    <link rel="stylesheet" href="layui/css/layui.css"/>
    <script src="layui/layui.js"></script>
    <style type="text/css">
        .qz-ul-a .active {
            background: rgba(1, 89, 90, 0.5);
            color: white;
        }
    </style>
</head>
<script src="assets/js/jquery-1.12.4.min.js"></script>
<script src="style/js/background.js" th:src="@{/style/js/background.js}"></script>
<body>
<!--首页-->
<div th:replace="header :: header"></div>


<!--页面主体内容-->
<div class="am-cf admin-main">
    <!-- sidebar start -->
    <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
        <div class="am-offcanvas-bar admin-offcanvas-bar">
            <ul class="am-list admin-sidebar-list qz-ul-a">
                <li class="list-item websSet active"><a style="cursor: pointer;"><span class="am-icon-file"></span> 网站信息<span
                        class="am-icon-angle-right am-fr am-margin-right"></span></a></li>
                <li class="list-item userSet"><a style="cursor: pointer;"><span class="am-icon-cog"></span> 用户管理<span
                        class="am-icon-angle-right am-fr am-margin-right"></span></a></li>
                <li class="list-item blogSet"><a style="cursor: pointer;"><span class="am-icon-comments"></span>博客管理 <span
                        class="am-icon-angle-right am-fr am-margin-right"></span></a></li>
                <li class="list-item fridSet"><a style="cursor: pointer;"><span class="am-icon-tasks"></span>友链管理 <span
                        class="am-icon-angle-right am-fr am-margin-right"></span></a></li>
            </ul>

            <div class="am-panel am-panel-default admin-sidebar-panel">
                <div class="am-panel-bd">
                    <p><span class="am-icon-bookmark"></span> 公告</p>
                    <p>现在不乘风破浪，更待何时？—— 强子</p>
                </div>
            </div>

        </div>
    </div>

    <!-- content start -->
    <div class="admin-content">

        <div id="websSet" style="padding-bottom: 70px;">
            <div class="am-cf am-padding am-padding-bottom-0">
                <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">网站信息</strong> /
                    <small>基本信息</small>
                </div>
            </div>
            <hr/>
            <div class="am-g">
                <div class="am-u-sm-12 am-u-md-12">
                    <div class="am-form am-form-horizontal message">
                    </div>
            </div>
        </div>
        </div>

        <div id="userSet" style="padding-bottom: 70px;">
            <div class="am-cf am-padding am-padding-bottom-0">
                <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">用户管理</strong> /
                    <small>users information</small>
                </div>
            </div>
            <hr/>
            <div class="am-g">
                <div class="am-u-sm-12 am-u-md-12 qz-div-div">
                    <div class="am-form">
                        <table class="am-table am-table-striped am-table-hover table-main">
                            <thead>
                            <tr>
                                <th class="table-id">ID</th><th class="table-title">用户名</th><th class="table-type">手机号</th><th class="table-author am-hide-sm-only">真实姓名</th><th class="table-date am-hide-sm-only">QQ号</th><th class="table-date am-hide-sm-only">邮箱</th><th class="table-date am-hide-sm-only">创建时间</th><th class="table-set">操作</th>
                            </tr>
                            </thead>
                            <tbody class="usersMessage">
                            </tbody>
                        </table>
                    </div>
                    <div class="qz-page" id="page-helper" style="text-align: right">

                    </div>
                </div>
            </div>
        </div>

        <div id="blogSet" style="padding-bottom: 70px;">
            <div class="am-cf am-padding am-padding-bottom-0">
                <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">博客管理</strong> /
                    <small>blog information</small>
                </div>
            </div>
            <hr/>
            <div class="am-g comment">
                <div class="am-u-sm-12 am-u-md-12">
                    <div class="am-form">
                        <table class="am-table am-table-striped am-table-hover table-main">
                            <thead>
                            <tr>
                                <th class="table-id">ID</th><th class="table-title">博客名</th><th class="table-date am-hide-sm-only">创建时间</th><th class="table-set">操作</th>
                            </tr>
                            </thead>
                            <tbody class="usersMessage">
                            <tr>
                            <td>15</td>
                            <td>Business management</td>
                            <td>default</td>
                            <td>
                            <div class="am-btn-toolbar">
                            <div class="am-btn-group am-btn-group-xs">
                                <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-save"></span> 编辑</button>
                                &nbsp;&nbsp;<button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span> 删除</button>
                            </div>
                            </div>
                            </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="qz-page" id="page-helper-two" style="text-align: right">

                    </div>
                </div>
            </div>
        </div>


        <div id="fridSet" style="padding-bottom: 70px;">
            <div class="am-cf am-padding am-padding-bottom-0">
                <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">友链管理</strong> /
                    <small>friendlink management</small>
                </div>
            </div>
            <hr/>
            <div class="am-g">
                <div class="am-u-sm-12 am-u-md-4 am-u-md-push-8"></div>
                <div class="am-u-sm-12 am-u-md-8 am-u-md-pull-4">

                    <div class="am-form">
                        <table class="am-table am-table-striped am-table-hover table-main">
                            <thead>
                            <tr>
                                <th class="table-id">ID</th><th class="table-title">友链名</th><th class="table-date am-hide-sm-only">友链地址</th><th class="table-title">创建时间</th><th class="table-set">操作</th>
                            </tr>
                            </thead>
                            <tbody class="usersMessage">
                            <tr>
                                <td>名</td>
                                <td>友链地址</td>
                                <td>编辑</td>
                                <td>
                                    <div class="am-btn-toolbar">
                                        <div class="am-btn-group am-btn-group-xs">
                                            <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span> 删除</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="qz-page" id="page-helper-friend" style="text-align: right">

                    </div>



                    <div class="am-form am-form-horizontal message">
                        <div class="am-form-group">
                            <label for="friend-name" class="am-u-sm-3 am-form-label">友链名 / Name</label>
                            <div class="am-u-sm-9">
                                <input type="text" id="friend-name" placeholder="友链名" value="">
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label for="friend-url" class="am-u-sm-3 am-form-label">友链地址</label>
                            <div class="am-u-sm-9">
                                <input type="text" id="friend-url" placeholder="友链地址" value="">
                            </div>
                        </div>
                        <div class="am-form-group" style="padding-bottom: 40px">
                            <div class="am-u-sm-9 am-u-sm-push-3">
                                <button type="button" class="am-btn am-btn-primary savebtn">保存</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="notice notice-box-suc">
        <i class="am-icon-exclamation-circle"></i>
        <span> 客官,添加成功</span>
    </div>

    <div class="notice notice-box notice-fail">
        <i class="am-icon-exclamation-circle"></i>
        <span> 客官,添加失败</span>
    </div>

    <div class="notice notice-box notice-friend">
        <i class="am-icon-exclamation-circle"></i>
        <span> 客官,友链名或友链地址不能为空</span>
    </div>


</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu"
   data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<!--底部-->
<div th:replace="footer :: footer"></div>
</body>
<script src="assets/js/amazeui.js"></script>
<script src="assets/js/app.js" th:src="@{/assets/js/app.js}"></script>
<script src="style/js/SuperAdmin.js" th:src="@{/style/js/SuperAdmin.js}"></script>
<script src="style/js/header.js" th:src="@{/style/js/header.js}"></script>
</html>